# NOTES(lourot):
# * We don't install charmcraft via pip anymore because it anyway spins up a
#   container and scp the system's charmcraft snap inside it. So the charmcraft
#   snap is necessary on the system anyway.
# * `tox -e build` successfully validated with charmcraft 1.2.1

cffi==1.14.6; python_version < '3.6'  # cffi 1.15.0 drops support for py35.
