options:
  corosync_mcastaddr:
    default: 226.94.1.1
    type: string
    description: |
      Multicast IP address to use for exchanging messages over the network.
      If multiple clusters are on the same bindnetaddr network, this value
      can be changed.
  corosync_bindiface:
    type: string
    default:
    description: |
      Default network interface on which HA cluster will bind to communication
      with the other members of the HA Cluster.
  corosync_mcastport:
    type: int
    default:
    description: |
      Default multicast port number that will be used to communicate between
      HA Cluster nodes.
  corosync_key:
    type: string
    default: "64RxJNcCkwo8EJYBsaacitUvbQp5AW4YolJi5/2urYZYp2jfLxY+3IUCOaAUJHPle4Yqfy+WBXO0I/6ASSAjj9jaiHVNaxmVhhjcmyBqy2vtPf+m+0VxVjUXlkTyYsODwobeDdO3SIkbIABGfjLTu29yqPTsfbvSYr6skRb9ne0="
    description: |
      This value will become the Corosync authentication key. To generate
      a suitable value use:
      .
        sudo corosync-keygen
        sudo cat /etc/corosync/authkey | base64 -w 0
      .
      This configuration element is mandatory and the service will fail on
      install if it is not provided.  The value must be base64 encoded.
  stonith_enabled:
    type: string
    default: 'False'
    description: |
     Enable resource fencing (aka STONITH) for every node in the cluster.
     This requires MAAS credentials be provided and each node's power
     parameters are properly configured in its invenvory.
  maas_url:
    type: string
    default:
    description: MAAS API endpoint (required for STONITH).
  maas_credentials:
    type: string
    default:
    description: MAAS credentials (required for STONITH).
  cluster_count:
    type: int
    default: 2
    description: |
      Number of peer units required to bootstrap cluster services.
      .
      If less that 3 is specified, the cluster will be configured to
      ignore any quorum problems; with 3 or more units, quorum will be
      enforced and services will be stopped in the event of a loss
      of quorum.
  monitor_host:
    type: string
    default:
    description: |
     One or more IPs, separated by space, that will be used as a saftey check
     for avoiding split brain situations. Nodes in the cluster will ping these
     IPs periodicaly. Node that can not ping monitor_host will not run shared
     resources (VIP, shared disk...).
  monitor_interval:
    type: string
    default: 5s
    description: |
     Time period between checks of resource health. It consists of a number
     and a time factor, e.g. 5s = 5 seconds. 2m = 2 minutes.
  netmtu:
    type: int
    default: 1500
    description: MTU size corosync used for communication.
  prefer-ipv6:
    type: boolean
    default: False
    description: |
      If True enables IPv6 support. The charm will expect network interfaces
      to be configured with an IPv6 address. If set to False (default) IPv4
      is expected.
      .
      NOTE: these charms do not currently support IPv6 privacy extension. In
      order for this charm to function correctly, the privacy extension must be
      disabled and a non-temporary address must be configured/available on
      your network interface.
  corosync_transport:
    type: string
    default: "udp"
    description: |
      Two supported modes are udp (multicast) or udpu (unicast)
